html{
    background-color: #e8e8e8;
}

.regisHead {
    background-image: url("../images/main-bg.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    margin-top: -20px;
    
}

.regisHead h1{
    color: #e8e8e8;
    font-family: url("../fonts/glyphicons-halflings-regular.ttf");
    text-align: center;
    padding-top: 140px;
    font-size: 40px;
    font-stretch: extra-expanded;
    font-weight: bold;
}

.regisContent {
    background-color: #e8e8e8;
    padding-top: 25px;
    padding-bottom: 25px;
}

.regisContent label{
    color: #3d3536;
    font-size: 16px;
}

.regisContent input{
    border-color: white;
    
}

.regisContent[name="shirt-size"] {
    display: "m";
}

.row .col-sm-4{
    margin-bottom: 10px;
}

.col-sm-4 label{
    margin-top: 6px;
}



.regisFooter h1{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #3d3536;
}

.regisFooter .button-wrap{
    text-align: center;
    margin-top: 25px;
}

.regisFooter .text-wrap{
    text-align: center;
}

.regisFooter .regis-btn{
    background-color: #99A37A;
    width: 20%;
    min-width: 120px;
    height: 40px;
    color: #e8e8e8;
    font-size: 20px;
    font-weight: lighter;
}