.header {
    background-image: url(background-header.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    font-family:  monospace;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 50px;
    text-shadow: -2px 0 black, 0 3px black, 2px 0 black, 0 -2px black;
}

.regisSuccess {
    text-align: center;
}

body {
    background-color: #e8e8e8;
}

h2,h5 {
    font-weight: bold;
}

.fa-check {
    color: #b5d6aa;
}

.btn.outline {
    background: none;
    padding: 12px 22px;
     border-radius:0;
}
.btn-default.outline {
    border: 2px solid #000000;
    color: black;
    font-weight: bold;
    font-size: 20px;
}