@font-face {
    font-family : myFont;
    src: url(../fonts/tivanon.woff);
}
div{
    font-family: myFont;
}
.main-section{
    width : 100%;
/*    height : 100%;*/
    background-size: cover;
    background-image: url("../images/main-bg.jpg");
}

.main-section .container{
    width: 100%;
    height: 100%;
    padding-left: 0px;
    padding-right:0px;
}
.main-section .bigRow{
    height : 25%;
    margin-left : 10px;
    margin-right : 10px;
    margin-top : 0px;
    margin-bottom: : 0px;
}

.footSqr, .main-section .padding{
    display: flex;
    align-items : center;
    justify-content: center;
}
.subFootSqrIcon{
    height: 100%;
}
.subFootSqrIcon, .main-section .padding .col-md-4{
    max-width: 50%;
}

.subFootSqr{
    max-height: 50%;
    padding-top: 10px;
    width:220px;
}
.footSqr .row{
    padding-top: 20px;
    padding-bottom: 20px;
    max-height: 50%;
    display: flex;
    align-items : center;
    justify-content: center;
/*    height: 100%;  */
}


.nav-brand-text{
    font-size: 1.3em;
    color : white;
    font-weight: bolder;
}

.nav-link-text{
    color : white;
}
.footSqr{
    height : 60%;
/*    width: 100%;*/
    background-color: rgba(153,163,122, 0.3)
}

.main .registerBtn:hover{
    opacity: 0.5;
}

.main .fa{
    color: #f0e6b1;
/*    font-size: 4em;*/
}

@media screen and (max-width: 299px) {
    .main .fa {
        font-size: 2em;
    }
}

@media screen and (min-width: 300px) and (max-width: 799px) {
    .main .fa {
        font-size: 2.5em;
    }
}

@media screen and (min-width: 800px) {
    .main .fa {
        font-size: 4em;
    }
}

.col2{
/*    display: block;*/
}
.main .text{
    font-size: 1em;
    font-style: normal;
    font-weight: bolder;
    max-height: 50%;
    color : white;
}

.main .registerBtn{
    width:100%;
    max-width: 70%;
    margin: 0 auto;
    padding-left: 1em;
    padding-right: 1em;
    padding-top : 0.5em;
    padding-bottom: 0.5em;
    
    background-color : transparent;
    color : white;
    font-size: 1.4em;
    border : 2px solid white; 
}